.node-visited {
    background-color: blue;
}

.node-shortest-path {
    background-color: rgb(218, 129, 13);
}

button {
    background-color: rgb(147, 89, 89);
    text-align: center;
    display: inline-block;
    border: none;
    text-decoration: none;
    color: white;
    padding: 16px 8px;
}

button:hover {
    background-color: rgb(79, 49, 49);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.grid {
    place-items: center;
    margin:8vh 10vw;/* Adjust margin for responsiveness */
    aspect-ratio: 50 / 20;
}
.grid > div {
    height: 5%;
    width: 100%;
}

body {
    background-color: rgb(197, 197, 197);
}

.node-wall {
    background-color: aquamarine;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
}